body {
    margin: 0px;
    padding: 0px;
}

.flex-container {
    background-color: rgb(224, 209, 209);
    margin: 1em;
    padding: 1em;
    border: 5px solid black;


    display: flex;
    flex-direction: row;
    gap: 1em;
}

.flex-child {
    background-color: purple;
    border-radius: 10px;
    padding: 1em;
    color: white;
}